* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'myFirstFont';
    src: url('../font/rockyeah-rockyeah-regular-400.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: myFirstFont;
    src: url('../font/ADAM.CG PRO.otf');
    font-weight: bold;
    font-style: normal;
}

body {
    background: black;
    background-image: radial-gradient(#4444444f 2px, transparent 2px);
            background-size: 60px 60px;
    /* background: #161616; */
    scroll-behavior: smooth;
    font-family: myFirstFont;
    font-weight: 100;
    color: white;
    overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Adjust this to control the height of the gradient */
  /* background: linear-gradient(to bottom, rgba(0, 191, 255, 0.201), transparent); */
  z-index: -1;
}
.nav {
    padding: 16px;
    position: absolute;
}

.logo {
    width: 70px;
}

.break {
    padding: 5rem;   
}

.my-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* position: absolute; */
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 60%;
    height: 80vh;
    margin: 0 auto 0;
}

.my-container .welcoming-text p {
    font-weight: bold;
    pointer-events: none;
    font-size: 40px;
    font-weight: 400;
    color: rgba(0, 191, 255, 0.386);
    text-transform: none;
    text-decoration: none;
    letter-spacing: -2.63368px;
    line-height: 50px;
    text-align: left;
    white-space: normal;
    padding: 0px;
    width: auto;
    height: auto;
    display: block;
    visibility: inherit;
    background: transparent;
    opacity: 1;
}
.my-container .welcoming-text .my-name {
    font-weight: bold;

    font-size: 100px;
    color: rgb(255, 253, 238);
}

.my-container .welcoming-text .welcome-to {
    font-weight: bold;
    letter-spacing: 6.36632px;
    font-size: 20px;
}

.my-container .welcoming-img img {
    margin: 0 auto;
    overflow: visible;
    padding: 0px;
    transform: translate(20px,-50px) scale(1.2);
    display: block;
    visibility: visible;
    opacity: 1;
    filter: brightness(75%) grayscale(0%);
    pointer-events: auto;
    position: relative;
    z-index: -1;
    transition: all 0.4s ease-out;
}

.my-container .welcoming-img:hover img {
    filter: brightness(100%) grayscale(0%);
}

.arrows {
  height: 100vh;
  position: fixed;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
  left: calc(50% - 40px);
}

.arrow:before {
  position: absolute;
  left: calc(50% - 20px);
}
#next {
  bottom: 5%;
  position: fixed;
}
#prev {
  top: 5%;
  position: fixed;
}

.arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow.up {
  -webkit-transform: rotate(225deg);
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.about-text {
    transform: translate(-25px, -20px);
}

.about-text h1 {
    font-weight: bold;
}

.my-works-title {
    font-weight: bold;
    pointer-events: none;
    font-size: 40px;
    font-weight: 400;
    color: rgba(0, 191, 255, 0.386);
    text-transform: none;
    text-decoration: none;
    letter-spacing: -2.63368px;
    line-height: 50px;
    text-align: left;
    white-space: normal;
    padding: 0px;
    width: auto;
    height: auto;
    display: block;
    visibility: inherit;
    background: transparent;
    opacity: 1;
    font-weight: bold;
    letter-spacing: 6.36632px;
    font-size: 20px;
    text-align: left;
}

a {
  text-decoration:  none;
}

.light-button button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .light-button button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #0f0f0f;
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
    font-size: 3rem;
  }
  
  .light-button button.bt .button-holder i {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
  }
  
  .light-button button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .light-button button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #0a0a0a;
    border-radius: 10px;
    z-index: 2;
  }
  
  .light-button button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
  }
  
  .light-button[type="linkedin"] button.bt:hover .button-holder i {
    fill: #0a66c2;
  }
  
  .light-button[type="linkedin"] button.bt:hover .button-holder {
    color: #0a66c2;
    outline: #0a66c2 2px solid;
    outline-offset: 2px;
  }
  
  .light-button[type="linkedin"] button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      #0a66c2 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .light-button[type="gmail"] button.bt:hover .button-holder i {
    fill: #ea4537;
  }
  
  .light-button[type="gmail"] button.bt:hover .button-holder {
    color: #ea4537;
    outline: #ea4537 2px solid;
    outline-offset: 2px;
  }
  
  .light-button[type="gmail"] button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      #ea4537 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .light-button[type="github"] button.bt:hover .button-holder i {
    fill: rgba(88, 101, 242, 1);
  }
  
  .light-button[type="github"] button.bt:hover .button-holder {
    color: rgba(88, 101, 242, 1);
    outline: rgba(88, 101, 242, 1) 2px solid;
    outline-offset: 2px;
  }
  
  .light-button[type="github"] button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(88, 101, 242, 1) 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  

  .lets {
    color: rgba(0, 191, 255, 0.386);    
    font-weight: bold;
    letter-spacing: 6.36632px;
  }

  .target {
    height: 100vh;
    display: flex;
    align-items: center;

}

.messages-container {
  height: 32rem;
}

.messages {
  gap: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30rem;
}

.message {
  background: #121111;
  padding: 1rem;
  border-radius: 1.5rem;
  opacity: 0; /* Initially hidden */
  transform: scale(0.5); /* Initially scaled down */
  transition: all 0.5s ease; /* Smooth transition */
  display: none;
  height: 0;
}

.message.bounceIn {
  height: auto;
  opacity: 1; /* Fade in */
  transform: scale(1); /* Scale up to normal size */
}

/* Keyframes for bounceIn animation (if you want a more complex animation) */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.message-text {
  font-size: 15px;
    font-weight: lighter;
    color: #97979a;
}

.message-text span.colored-text {
  background: linear-gradient(45deg, #FF5E84, #3E8BFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@keyframes bounceInX {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
    animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }
  0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
  }
  20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1);
      -webkit-transform: scaleX(1);
  }
}

.chat-bubble {
  background: #121111;
  width: 20%;
  padding: 16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display: inline-block;
  bottom: 0;
  position: relative;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #97979a;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #97979a; 
  }
  28% {
    transform: translateY(-7px);
    background-color: #97979a;
  }
  44% {
    transform: translateY(0px);
    background-color: #97979a; 
  }
}


.mail-btn {
  background: #3b3b3b;
  border-radius: 1rem;
  color: white;
}
i.bx.text-white {
  font-size: 3rem;
}
.socials {
  top: 20%;
  left: 5%;
}
@media only screen and (max-width: 767px) {
  .logo {
    width: 40px;
  }
  .my-container{
    width: 95%;
  }
  h5 {
    font-size: 1rem;
  
  }
  .message-text {
    font-size: 12px;
  }
  .target {
    height: auto;
    display: flex;
    align-items: center;
    bottom: 0;
    position: absolute;
  }
  .messages-container {
    width: 80% !important;
  }
  .movable-img {
    position: absolute !important;
    left: -150px !important;
    top: 190px !important;
  }
  i.bx.text-white {
    font-size: 1.5rem;
  }
  .socials {
    top: 10%;
  }
}

