* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'myFirstFont';
    src: url('../font/lemon-milk/LEMONMILK-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: myFirstFont;
    src: url('../font/ADAM.CG PRO.otf');
    font-weight: bold;
    font-style: normal;
}

body {
    background: #000;
    /* background: #161616; */
    scroll-behavior: smooth;
    font-family: myFirstFont;
    font-weight: 100;
    color: white;
    overflow: hidden;
}

.nav {
    padding: 16px;
    position: absolute;
}

.logo {
    width: 70px;
}

.break {
    padding: 5rem;   
}

.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 60%;
    height: 80vh;
    margin: 0 auto 0;
}

.my-container .welcoming-text p {
    font-weight: bold;
    pointer-events: none;
    font-size: 40px;
    font-weight: 400;
    color: rgba(0, 191, 255, 0.386);
    text-transform: none;
    text-decoration: none;
    letter-spacing: -2.63368px;
    line-height: 50px;
    text-align: left;
    white-space: normal;
    padding: 0px;
    width: auto;
    height: auto;
    display: block;
    visibility: inherit;
    background: transparent;
    opacity: 1;
}
.my-container .welcoming-text .my-name {
    font-weight: bold;

    font-size: 100px;
    color: rgb(255, 253, 238);
}

.my-container .welcoming-text .welcome-to {
    font-weight: bold;
    letter-spacing: 6.36632px;
    font-size: 20px;
}

.my-container .welcoming-img img {
    margin: 0 auto;
    overflow: visible;
    padding: 0px;
    transform: translate(20px,-50px) scale(1.2);
    display: block;
    visibility: visible;
    opacity: 1;
    filter: brightness(35%) grayscale(0%);
    pointer-events: auto;
    position: relative;
    z-index: -1;
    transition: all 0.4s ease-out;
}

.my-container .welcoming-img:hover img {
    filter: brightness(100%) grayscale(0%);
}

.arrow {
    cursor: pointer;
    height: 120px;
    left: calc(50% - 40px);
    position: absolute;
    transition: transform 0.1s;
    width: 80px;
    transform: rotate(90deg);
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
  }
  .arrow-top, .arrow-bottom {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .arrow-top:after, .arrow-bottom:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
  }
  .arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
  }
  .arrow-top:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
  }
  .arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
  }
  .arrow-bottom:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
  }
  .arrow:hover .arrow-top:after {
    left: 0;
    transition-delay: 0.15s;
  }
  .arrow:hover .arrow-bottom:after {
    right: 0;
    transition-delay: 0s;
  }
  .arrow:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }


@-webkit-keyframes action {
    0% { transform: translateY(0) rotate(90deg); }
    100% { transform: translateY(-10px) rotate(90deg); }
}

@keyframes action {
    0% { transform: translateY(0) rotate(90deg); }
    100% { transform: translateY(-10px) rotate(90deg); }
}

.about-text {
    transform: translate(-25px, -20px);
}

.about-text h1 {
    font-weight: bold;
}

.my-works-title {
    font-weight: bold;
    pointer-events: none;
    font-size: 40px;
    font-weight: 400;
    color: rgba(0, 191, 255, 0.386);
    text-transform: none;
    text-decoration: none;
    letter-spacing: -2.63368px;
    line-height: 50px;
    text-align: left;
    white-space: normal;
    padding: 0px;
    width: auto;
    height: auto;
    display: block;
    visibility: inherit;
    background: transparent;
    opacity: 1;
    font-weight: bold;
    letter-spacing: 6.36632px;
    font-size: 20px;
    text-align: left;
}

a {
  text-decoration:  none;
}

.light-button button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .light-button button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #0f0f0f;
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
    font-size: 3rem;
  }
  
  .light-button button.bt .button-holder i {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
  }
  
  .light-button button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .light-button button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #0a0a0a;
    border-radius: 10px;
    z-index: 2;
  }
  
  .light-button button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
  }
  
  .light-button[type="linkedin"] button.bt:hover .button-holder i {
    fill: #0a66c2;
  }
  
  .light-button[type="linkedin"] button.bt:hover .button-holder {
    color: #0a66c2;
    outline: #0a66c2 2px solid;
    outline-offset: 2px;
  }
  
  .light-button[type="linkedin"] button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      #0a66c2 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .light-button[type="gmail"] button.bt:hover .button-holder i {
    fill: #ea4537;
  }
  
  .light-button[type="gmail"] button.bt:hover .button-holder {
    color: #ea4537;
    outline: #ea4537 2px solid;
    outline-offset: 2px;
  }
  
  .light-button[type="gmail"] button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      #ea4537 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .light-button[type="github"] button.bt:hover .button-holder i {
    fill: rgba(88, 101, 242, 1);
  }
  
  .light-button[type="github"] button.bt:hover .button-holder {
    color: rgba(88, 101, 242, 1);
    outline: rgba(88, 101, 242, 1) 2px solid;
    outline-offset: 2px;
  }
  
  .light-button[type="github"] button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(88, 101, 242, 1) 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  

  .lets {
    color: rgba(0, 191, 255, 0.386);    
    font-weight: bold;
    letter-spacing: 6.36632px;
  }